// common
@import "common.less";
// 主题
@mainRed: #D93127;                  // 用友红 （注：一级按钮、顶部导航背景色、部分按钮、背景文字等）
@diworkRed:#E14C46;
@mainGreen: #00B39E;                // 主题绿
@mainGreenHover: #009886;
@mainGreenFocus: #008676;
@mainGreenLight: #D9F3F4;
@backColor: #F9F9F9;                // 主内容区大背景色

// 文字
@fontColorLevel1: #555555;          // 一级标题文字色
@fontColorLevel2: #666666;          // 二级文字色
@fontColorLevel3: #999999;          // 备注信息、不太重要文字色、表格不可编辑列字体色
@fontColorLevel4: #8894A5;           //首页的图表的文字颜色

// tab
@tabBorderColor: #CCCCCC;
@tabBackColor: #E0E0E0;
@tabBackHover: #F2F2F2;

// 边框
@borderColor: #d0d0d0;              // 边框色
@borderHoverColor: #D3D3D3;         // 边框hover 灰色
@borderHoverGreen: #00B39E;         // 边框hover 绿色
@inputBorderColor: #D9D9D9;         // input 边框色
@inputBorderFocus: #00B39E;         // input 获取焦点时的边框色


// z-index层级
@navbarZ: 6000;

@diworkTitleHeight:44px;

// 状态色通用类 success warning error
//.success { color: #5cb85c; }
.readonly { color: @fontColorLevel3; }    // 只读信息通用类

// 常用边框
.b1-default { border: 1px solid @borderColor; }

.ficloud-bench .sideBar {
  width: 200px;
  overflow-y: scroll;
  overflow-x:hidden;
  background-color: #fff;
  float: left;
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-top: 28px;
  .u-menu-sub.u-menu-inline>.u-menu-item{
	height: 30px;
	line-height: 30px
  }
  .u-menu-submenu-selected{
	background: #f9fafb;
  }
  .sideBar-title{
	position: fixed;
	top: 86px;
	width: 200px;
	height: 38px;
	padding: 9px 0 9px 25px;
	border-radius: 0 3px 0 0;
	background: #fff;
	color: #666;
	font-size: 14px;
	z-index: 6000;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;

	.uf{
	  cursor: pointer;
	  margin: 3px 0 0 0;
	  font-size: 12px;
	  position: absolute;
	  right: 0;
	  &:hover{
		color:@diworkRed;
	  }
	}
	&.showLeft{
	  cursor: pointer;
	  width: 20px;
	  top: 94px;
	  border: 1px solid #ddd;
	}
  }
  .uf{
	color: #555;
	width: 20px;
	height: 20px;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  }
  &.showLeft{
	height: 0;
	padding-top: 0;
	.u-menu{
	  display: none;
	}
  }
}
.ficloud-bench .u-menu-submenu-open.u-menu-submenu-inline > .u-menu-submenu-title i {
  -webkit-transform: rotate(90deg) scale(1.0);
  transform: rotate(90deg) scale(1.0);
  display: inline-block;
  height: auto;
  position: relative;
}
.ficloud-bench img.menuItem{
  width: 20px;
  height: 20px;
  color: rgba(135, 139, 148, 1);
  font-size: 14px;
  margin: -3px 8px 0 0;
}


/* tabs首页多页签 */
.main-tab {
  .pa;
  left: 209px;
  bottom:0;
  z-index: 6100;
  overflow: visible;
  &.showLeft{
	left:0
  }
}

.main-tab-more {
  .fl;
  z-index: 6100;
  color: @fontColorLevel1;
  .tab-header.more{
	width: 19px;
	height: 42px;
	line-height: 40px;
	background-color: #f6f7f8;
	color: @fontColorLevel1;
	border-top: 2px solid #757F8C;
	i.uf{
	  margin-left: -3px;
	}
	&:hover {
	   background-color: @tabBackHover;
	   border-top-color: @diworkRed;
	 }
  }
}

.u-dropdown-menu.more {
  max-width: 120px;
  .f14;
  li {
	padding: 2px 10px;
	&:hover{
	  color: @diworkRed;
	}
	span {
	  display: block;
	  border-bottom: 1px solid @borderColor;
	  height: 30px;
	  line-height: 30px;

	}
	&:last-child {
	  span {
		border-bottom: 0;
	  }
	}
  }
}

.tab-header {
  .pointer;
  float: left;
  //width: 9.6%;
  width:160px;
  height: 42px;
  .tc;
  .vm;
  border-right: 1px solid @borderColor;;
  >i.uf.uf-close {
	.f12;
	.fr;
	position: relative;
	display: inline-block;
	color: transparent;
	right: 5px;
	top: -25px;
  }
  &:hover {
	.tab-title-item {
	  background-color: @tabBackHover;
	}
	.tab-title-item.active {
	  background-color: @backColor;
	}
	i.uf.uf-close {
	  color: #757F8C;
	  &:hover {
		color: @diworkRed;
	  }
	}
  }
}

.tab-title-item {
  line-height: 40px;
  padding: 0 15px 0 8px;
  background-color: #f6f7f8;
  color: @fontColorLevel1;
  border-top: 2px solid #757F8C;
  //border-bottom: none;
  .ellipsis;
  &.active,&:hover{
	color:@diworkRed;
	border-top: 2px solid @diworkRed;
	background-color: rgba(255,255,255,1);
  }
}

.tab-content-item {
  height: 570px;
  .none;
  .oh;
}

.tab-content-item.active {
  .Clearfix;
}

.frame {
  .w;
  .h;
  border: 0;
  .pt15;
  padding-bottom: 20px;
}

.iframe-container {
  position: fixed;
  top: 79px;//44+35
  left: 210px;
  width: calc(~"100% - 210px");
  &.showLeft{
	left:0;
	width: 100%;
  }
}
/* 账簿显示 通用 begin */
.global-accbook {
  z-index: 5998;
  .clearfix;
  .fr;
  position: fixed;
  .w300;
  margin-top: 10px;
  margin-left: 245px;
  .form-control {
	min-width: 138px;
  }
  div{
	display: inline-block;
  }
  .ssc-input{
	input{
	  height: 32px;
	  padding: 6px;
	  min-width: 160px;
	  border: none;
	}
  }
  &.showLeft{
	margin-left: 35px;
  }
}
// 公共账簿
//@media (min-width: 768px) {
//  .global-accbook {
//	margin-left: calc(~"50% - 260px");
//  }
//}
//@media (min-width: 1062px) {
//  .global-accbook {
//	margin-left: calc(~"50% - 300px");//440
//  }
//}
//@media (min-width: 1270px) {
//  .global-accbook {
//	margin-left: calc(~"50% - 370px");//530
//  }
//}
//@media (min-width: 1296px) {
//  .global-accbook {
//	margin-left: calc(~"50% - 470px");//540
//  }
//}
/* 账簿显示 通用 end */

/* 账簿弹出层 begin */
.input-dropdown {
  .b1-default;
  .fff;
}
.input-accbook {
  width:auto;
  max-height: 480px;
  min-width: 160px;
  overflow: auto;
  .search{
	position: absolute;
	padding-right: 1px;
  }
  .form-control{
	display: block;
	width: 100%;
	height: 32px;
	padding: 6px 12px;
	line-height: 1.42857143;
	border-radius: 0;
	border: 1px solid @inputBorderColor;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	.f12;
	-webkit-box-shadow: none;
	box-shadow: none;
	&:focus {
	  border-color: @inputBorderFocus;
	  outline: 0;
	  -webkit-box-shadow: none;
	  box-shadow: none;
	}
  }
  .myCls{
	height: auto;
	padding-top: 30px;
	max-height: 450px;
  }
}
/* 账簿弹出层 end */


// 树结构
.rc-tree {
  .p15;
  overflow: auto;
  height: 450px;
  .rc-tree-title {
	.f12;
	font-weight: normal;
  }
  .rc-tree-node-selected {
	background-color: @mainGreenLight;
	border:0;
  }
}
.rc-tree li {
  line-height: 30px;
  .rc-tree-node-content-wrapper {
	height: auto;
	padding: 0 5px;
  }
}

//.rc-tree li span.rc-tree-iconEle {  // 凭证模板 公式编辑器 #ssc-formula2-tab-单据字段
//  .none;
//}
//.rc-tree-switcher_open,.rc-tree-switcher_close,.rc-tree-switcher-noop,
//.rc-tree-roots_open,.rc-tree-roots_close,
//.rc-tree-center_open,.rc-tree-center_close,.rc-tree-center_docu,
//.rc-tree-bottom_open, .rc-tree-bottom_close, .rc-tree-bottom_docu{
//  font-family: "iconfont" !important;
//}
.rc-tree-switcher::before {
  color: @mainGreen;
  .f14;
}
//.rc-tree-switcher_open::before,
//.rc-tree-roots_open::before,
//.rc-tree-center_open::before,
//.rc-tree-bottom_open::before {
//  content: "\e68d";
//}
//.rc-tree-switcher_close::before,
//.rc-tree-roots_close::before,
//.rc-tree-center_close::before,
//.rc-tree-bottom_close::before {
//  content: "\e68f";
//}
//.rc-tree-switcher-noop::before,
//.rc-tree-center_docu::before,
//.rc-tree-bottom_docu::before {
//  content: "\e6ae";
//}

.rc-tree li.disabled >.rc-tree-node-content-wrapper {
  color: @fontColorLevel4;
}
