{
  "ignore": ["node-modules/**", "src/index.umd.js"],
  "presets": [ "env", "stage-0", "react"],
  "plugins": [
	"transform-decorators-legacy","transform-class-properties","transform-runtime"
  ],
  "env": {
    "test": {
      "plugins": ["transform-decorators-legacy", "transform-class-properties", "istanbul"]
    }
  }
}
