//
// Common Example Styles
// ------------------------------

// import select field styles

@import "../../less/ficloud-workbench.less";
// example site
@text-color:                     #333;
@gutter:                         30px;

body {
	color: @text-color;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.4;
	margin: 0;
	padding: 0;
}
.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 400px;
	padding: 0 @gutter;
}

