//
// Common Example Styles
// ------------------------------


@import "../../less/default.less";
// example site
@text-color:                     #333;
@gutter:                         0px;

body {
	color: @text-color;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.4;
	margin: 0;
	padding: 0;
}
.container {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding: 0 @gutter;
}
.header {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 44px;
  z-index: 99;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAALYAAABhCAYAAAB7y1uTAAAAGXRFW…n0vBfThbPCj2hvioWMP73ZfDxJxW4gWgsVAGhe4/8FGABLKpqwx2655wAAAABJRU5ErkJggg==) no-repeat;
  background-position: right;
  background-color: rgba(255,255,255,0.92);
}
.workbench-title{
  height: 48px;
}
.menu_work{
  height: 38px;
}
.sideBar{
  position: fixed;
  margin-top: 94px;
}
.main-tab{
  top: 94px;
}
.src-workbench-pc-pages{
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.src-workbench-pc-pages-work-style{
  position: absolute;
  margin-top: 94px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
}
.lebra-navbar-light {
  color: #108ee9;
}
.lebra-navbar {
  width: 100%;
  height: 45px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  padding-right: 15px;
}
.src-workbench-pc-pages-work-style__work--1g5Hq .lebra-navbar-left {
  padding-left: 7px;
}

.lebra-navbar-left {
  font-size: 16px;
  padding-left: 15px;
}
.lebra-navbar-left, .lebra-navbar-right, .lebra-navbar-title {
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.src-workbench-pc-pages-work-style__work--1g5Hq .lebra-navbar-left-content {
  margin-left: 8px;
}

.lebra-navbar-left-content {
  padding-left: 14px;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  color: #4a515d;
}
.lebra-navbar-left-content {
  position: relative;
  height: 32px;
  line-height: 32px;
  cursor: pointer;
}
.lebra-navbar-light .lebra-navbar-title {
  color: #111;
}
.lebra-navbar-title {
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 16px;
  white-space: nowrap;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  line-height: 19px;
}
.lebra-navbar-left, .lebra-navbar-right, .lebra-navbar-title {
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.lebra-navbar-right {
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-size: 16px;
}

.lebra-navbar-left, .lebra-navbar-right, .lebra-navbar-title {
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
