//
// Common Example Styles
// ------------------------------


@import "../../less/default.less";
// example site
@text-color:                     #333;
@gutter:                         0px;

body {
	color: @text-color;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.4;
	margin: 0;
	padding: 0;
}
.container {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding: 0 @gutter;
}
.workbench-title{
  height: 48px;
}

.src-workbench-pc-containers-header-index__lebraNavbar---42qm {
  height: 48px;
}

.lebra-navbar-light {
  color: #108ee9;
}
.lebra-navbar {
  width: 100%;
  height: 45px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  padding-right: 15px;
}
.src-workbench-pc-pages-work-style__work--1g5Hq .lebra-navbar-left {
  padding-left: 7px;
}

.lebra-navbar-left {
  font-size: 16px;
  padding-left: 15px;
}
.lebra-navbar-left, .lebra-navbar-right, .lebra-navbar-title {
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.src-workbench-pc-pages-work-style__work--1g5Hq .lebra-navbar-left-content {
  margin-left: 8px;
}

.lebra-navbar-left-content {
  padding-left: 14px;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  color: #4a515d;
}
.lebra-navbar-left-content {
  position: relative;
  height: 32px;
  line-height: 32px;
  cursor: pointer;
}
.lebra-navbar-light .lebra-navbar-title {
  color: #111;
}
.lebra-navbar-title {
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 16px;
  white-space: nowrap;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  line-height: 19px;
}
.lebra-navbar-left, .lebra-navbar-right, .lebra-navbar-title {
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.lebra-navbar-right {
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-size: 16px;
}

.lebra-navbar-left, .lebra-navbar-right, .lebra-navbar-title {
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
